---
import ModularCounterUsingVModel from '../../components/vue/ModularCounterUsingVModel/ModularCounter.vue';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="VUE & REACT COMPARISON">
	<main class="flex justify-center">
        <ModularCounterUsingVModel client:load/>
    </main>
</Layout>