---
import { ComponentDisplayWrapper } from '../../components/utils/ComponentDisplayWrapper';
import { WrapperWithCodeInMarkdown } from '../../components/utils/WrapperWithCodeInMarkdown';
import ModularCounterUsingVModel from '../../components/vue/ModularCounterUsingVModel/ModularCounter.vue';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="VUE & REACT COMPARISON">
	<main class="flex justify-center">
        <WrapperWithCodeInMarkdown markdownContent={`<template>
  <div>
    <h1>Modular Counter</h1>
    <CounterDisplayer :count="count" />
    <CounterIncrementerWithModel v-model="count" />
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import CounterDisplayer from "./CounterDisplayer.vue";
import CounterIncrementerWithModel from "./CounterIncrementerWithModel.vue";

const count = ref(0);
</script>
`}>
        <ComponentDisplayWrapper type="vue">
            <ModularCounterUsingVModel client:load/>
        </ComponentDisplayWrapper>
    </WrapperWithCodeInMarkdown>
    </main>
</Layout>