---
import ModularCounterUsingEmitter from '../../components/vue/ModularCounterUsingEmitter/ModularCounter.vue';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="VUE & REACT COMPARISON">
	<main class="flex justify-center">
        <ModularCounterUsingEmitter client:load/>
    </main>
</Layout>