---
import Layout from '../layouts/Layout.astro';
---

<Layout title="VUE & REACT COMPARISON">
	<main class="flex justify-center">
		<div class="hero mt-16">
			<div class="hero-content text-center">
			  <div class="max-w-md">
				<h2 class="text-5xl font-bold">Vue for React Developers</h2>
				<p class="py-6">
				  Learn how to build Vue applications with the same concepts you already know in React.
				</p>
				<a class="btn btn-primary cursor-pointer" href="/react/single">Get Started</a>
			  </div>
			</div>
		  </div>
	</main>
</Layout>


