---
import ModularCounter from '../../components/react/ModularCounter/ModularCounter';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="VUE & REACT COMPARISON">
	<main class="flex justify-center">
        <ModularCounter client:load/>
    </main>
</Layout>