---
import ModularCounter from '../../components/react/ModularCounter/ModularCounter';
import { ComponentDisplayWrapper } from '../../components/utils/ComponentDisplayWrapper';
import { WrapperWithCodeInMarkdown } from '../../components/utils/WrapperWithCodeInMarkdown';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="VUE & REACT COMPARISON">
	<main class="flex justify-center">
        <WrapperWithCodeInMarkdown markdownContent={[
`
const ModularCounter = () => {
    const [count, setCount] = useState(0);

    return (
        <div>
          <h1>Modular Counter</h1>
          <CounterDisplayer count={count} />
          <CounterIncrementer setCount={setCount} />
        </div>
    );
};
`,
`
const CounterDisplayer = ({ count }: { count: number }) => {
  return <p>Count: {count}</p>;
};

export default CounterDisplayer;
`,
`
const CounterIncrementer = ({
  setCount,
}: {
  setCount: React.Dispatch<(numb: number) => number>;
}) => {
  return (
    <button 
      className="btn btn-secondary"
      onClick={() => setCount((count) => count + 1)}>
        Increment
    </button>
  );
};
`
]}>

    <ComponentDisplayWrapper type='react'>
        <ModularCounter client:load/>
    </ComponentDisplayWrapper></WrapperWithCodeInMarkdown>
    </main>
</Layout>