---
import SingleComponentCounter from '../../components/react/SingleComponentCounter';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="VUE & REACT COMPARISON">
	<main class="flex justify-center">
        <SingleComponentCounter client:load />
    </main>
</Layout>