---
import SingleComponentCounter from '../../components/react/SingleComponentCounter';
import { WrapperWithCodeInMarkdown } from '../../components/utils/WrapperWithCodeInMarkdown';
import { ComponentDisplayWrapper } from '../../components/utils/ComponentDisplayWrapper';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="VUE & REACT COMPARISON">
	<main class="flex justify-center">
        <WrapperWithCodeInMarkdown markdownContent={`const SingleComponentCounter = () => {
            const [count, setCount] = useState(0);
          
            return (
              <div>
                <h1>Single Component Counter</h1>
                <p>Count: {count}</p>
                <button className="btn btn-secondary" onClick={() => setCount(count + 1)}>
                  Increment
                </button>
              </div>
            );
          };`}><ComponentDisplayWrapper type="react"><SingleComponentCounter client:load /></ComponentDisplayWrapper></WrapperWithCodeInMarkdown>
    </main>
</Layout>