---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="h-screen flex flex-col justify-between">
		<header class="navbar bg-primary text-primary-content ">
			<h1 class="ml-16"><a class="font-bold" href="/">VUE & REACT COMPARISON</a></h1>
		</header>
		<div class="flex flex-col justify-start h-full gap-y-4">
			<nav class="flex justify-center gap-x-2 py-8"> 
				<span class="text-primary font-bold">React</span>
				<a class="link" href="/react/single">Single File</a> 
				<a class="link" href="/react/modular">Modular</a>
				<span class="text-secondary font-bold">Vue</span>
				<a class="link" href="/vue/single">Single File</a> 
				<a class="link" href="/vue/modular">Modular</a> 
				<a class="link" href="/vue/modular-emitter">Modular with event emitter</a> 
				<a class="link" href="/vue/modular-vmodel">Modular with model</a>
			</nav>
			<slot />
		</div>
		<footer class="footer footer-center bg-primary text-base-content p-4">
			<aside>
			  <p>Karol Kosek - Deployed - {new Date().getFullYear()}</p>
			</aside>
		  </footer>
		</div>
	</body>
</html>

